body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: rgb(206, 183, 150);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.header {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px
}

h1 {
  margin: 0;
  border-radius: 10px;
  padding: 20px;
  color: black;
}
.card {
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}
.search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.search input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 300px;
}
.search button {  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-left: none;  }